{{- if .Values.enabled }}
apiVersion: fission.io/v1
kind: Function
metadata:
  name: {{ .Values.function.name }}
  namespace: {{ .Values.namespace }}
spec:
  environment:
    name: {{ .Values.environment.name }}
    namespace: {{ .Values.namespace }}
  package:
    inline:
      source: |
{{ .Values.function.code | indent 8 }}
  InvokeStrategy:
    StrategyType: Execution
    ExecutionStrategy:
      ExecutorType: poolmgr
{{- end }}
