# External values file for LGTM stack
grafana:
  enabled: true
  ingress:
    enabled: true
    hosts:
      - grafana.gsingh.io
  admin:
    existingSecret: grafana-admin-credentials
    userKey: admin-user
    passwordKey: admin-password
loki:
  enabled: true
  structuredConfig:
    schema_config:
      configs:
        - from: "2020-09-07"
          object_store: s3
    storage_config:
      s3:
        s3: loki-s3-credentials
    compactor:
      shared_store: s3
    table_manager:
      retention_deletes_enabled: true
      retention_period: 30d
  gateway:
    ingress:
      enabled: false
      hosts:
        - host: loki-gateway.gsingh.io
          paths:
            - path: /
              pathType: Prefix