{{- if .Values.airflow.enabled }}
{{- $airflow := .Values.airflow }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{ .Values.argocdNamespace | default "default" }}
  name: airflow
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://airflow.apache.org
    chart: airflow
    targetRevision: {{ $airflow.version }}
    helm:
      values: |
        ingress:
          enabled: {{ $airflow.ingress.enabled }}
          web:
            enabled: {{ $airflow.ingress.enabled }}
            {{- if $airflow.ingress.host }}
            host: {{ $airflow.ingress.host }}
            {{- end }}
        webserver:
          defaultUser:
            enabled: {{ $airflow.webserver.defaultUser.enabled }}
            username: {{ $airflow.webserver.defaultUser.username | default "admin" }}
            password: {{ $airflow.webserver.defaultUser.password }}
        {{- if $airflow.postgresql.enabled }}
        postgresql:
          enabled: true
        {{- else }}
        {{- if $airflow.externalDatabase.secretName }}
        data:
          metadataSecretName: {{ $airflow.externalDatabase.secretName }}
        postgresql:
          enabled: false
        {{- else }}
        data:
          metadataConnection:
            user: {{ $airflow.externalDatabase.user }}
            pass: {{ $airflow.externalDatabase.pass }}
            protocol: {{ $airflow.externalDatabase.protocol | default "postgresql" }}
            host: {{ $airflow.externalDatabase.host }}
            port: {{ $airflow.externalDatabase.port | default 5432 }}
            db: {{ $airflow.externalDatabase.db }}
        postgresql:
          enabled: false
        {{- end }}
        {{- end }}
        {{- if $airflow.redis.enabled }}
        redis:
          enabled: {{ $airflow.redis.enabled }}
        {{- end }}
        {{- if $airflow.executor }}
        executor: {{ $airflow.executor }}
        {{- end }}
        {{- if $airflow.dags }}
        dags:
          {{- if $airflow.dags.gitSync }}
          gitSync:
            enabled: {{ $airflow.dags.gitSync.enabled }}
            {{- if $airflow.dags.gitSync.repo }}
            repo: {{ $airflow.dags.gitSync.repo }}
            {{- end }}
            {{- if $airflow.dags.gitSync.branch }}
            branch: {{ $airflow.dags.gitSync.branch }}
            {{- end }}
            {{- if $airflow.dags.gitSync.subPath }}
            subPath: {{ $airflow.dags.gitSync.subPath }}
            {{- end }}
          {{- end }}
        {{- end }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ $airflow.namespace | default "default" }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
{{- end }}
