{{- if .Values.airflow.enabled }}
{{- $airflow := .Values.airflow }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{ .Values.argocdNamespace | default "default" }}
  name: airflow
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://charts.bitnami.com/bitnami
    chart: airflow
    targetRevision: {{ $airflow.version }}
    helm:
      values: |
        image:
          registry: {{ $airflow.image.registry | default "docker.io" }}
          repository: {{ $airflow.image.repository | default "bitnami/airflow" }}
          tag: {{ $airflow.image.tag | default "3.0.5-debian-12-r0" }}
        {{- if $airflow.auth.existingSecret }}
        auth:
          existingSecret: {{ $airflow.auth.existingSecret }}
        {{- else }}
        auth:
          username: {{ $airflow.auth.username | default "user" }}
          password: {{ $airflow.auth.password }}
          fernetKey: {{ $airflow.auth.fernetKey }}
          secretKey: {{ $airflow.auth.secretKey }}
        {{- end }}
        executor: {{ $airflow.executor | default "CeleryExecutor" }}
        loadExamples: {{ $airflow.loadExamples | default false }}
        {{- if $airflow.ingress.enabled }}
        ingress:
          enabled: true
          {{- if $airflow.ingress.ingressClassName }}
          ingressClassName: {{ $airflow.ingress.ingressClassName }}
          {{- end }}
          hostname: {{ $airflow.ingress.host }}
          {{- if $airflow.ingress.annotations }}
          annotations: {{ toYaml $airflow.ingress.annotations | indent 10 }}
          {{- end }}
          tls: {{ $airflow.ingress.tls | default false }}
        {{- end }}
        {{- if not $airflow.postgresql.enabled }}
        postgresql:
          enabled: false
        externalDatabase:
          host: {{ $airflow.externalDatabase.host }}
          port: {{ $airflow.externalDatabase.port | default 5432 }}
          database: {{ $airflow.externalDatabase.database }}
          {{- if $airflow.externalDatabase.existingSecret }}
          existingSecret: {{ $airflow.externalDatabase.existingSecret }}
          {{- else }}
          user: {{ $airflow.externalDatabase.user }}
          password: {{ $airflow.externalDatabase.password }}
          {{- end }}
        {{- else }}
        {{- if or $airflow.postgresql.image.registry $airflow.postgresql.image.repository $airflow.postgresql.image.tag }}
        postgresql:
          image:
            {{- if $airflow.postgresql.image.registry }}
            registry: {{ $airflow.postgresql.image.registry }}
            {{- end }}
            {{- if $airflow.postgresql.image.repository }}
            repository: {{ $airflow.postgresql.image.repository }}
            {{- end }}
            {{- if $airflow.postgresql.image.tag }}
            tag: {{ $airflow.postgresql.image.tag }}
            {{- end }}
        {{- end }}
        {{- end }}
        {{- if not $airflow.redis.enabled }}
        redis:
          enabled: false
        {{- else }}
        {{- if or $airflow.redis.image.registry $airflow.redis.image.repository $airflow.redis.image.tag }}
        redis:
          image:
            {{- if $airflow.redis.image.registry }}
            registry: {{ $airflow.redis.image.registry }}
            {{- end }}
            {{- if $airflow.redis.image.repository }}
            repository: {{ $airflow.redis.image.repository }}
            {{- end }}
            {{- if $airflow.redis.image.tag }}
            tag: {{ $airflow.redis.image.tag }}
            {{- end }}
        {{- end }}
        {{- end }}
        {{- if and $airflow.dags.gitSync $airflow.dags.gitSync.enabled $airflow.dags.gitSync.repo }}
        dags:
          enabled: true
          repositories:
            - repository: {{ $airflow.dags.gitSync.repo }}
              branch: {{ $airflow.dags.gitSync.branch | default "main" }}
              name: {{ $airflow.dags.gitSync.name | default "dags" }}
              {{- if $airflow.dags.gitSync.path }}
              path: {{ $airflow.dags.gitSync.path }}
              {{- end }}
          {{- if $airflow.dags.gitSync.sshKeySecret }}
          existingSshKeySecret: {{ $airflow.dags.gitSync.sshKeySecret }}
          {{- end }}
        {{- end }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ $airflow.namespace | default "default" }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
{{- end }}
