{{- if .Values.dagster.enabled }}
{{- $dagster := .Values.dagster }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{ .Values.argocdNamespace | default "default" }}
  name: dagster
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://dagster-io.github.io/helm
    chart: dagster
    targetRevision: {{ $dagster.version }}
    helm:
      values: |
        {{- if $dagster.dagsterWebserver.ingress.enabled }}
        dagsterWebserver:
          ingress:
            enabled: true
            {{- if $dagster.dagsterWebserver.ingress.annotations }}
            annotations: {{ toYaml $dagster.dagsterWebserver.ingress.annotations | indent 12 }}
            {{- end }}
            {{- if $dagster.dagsterWebserver.ingress.ingressClassName }}
            ingressClassName: {{ $dagster.dagsterWebserver.ingress.ingressClassName }}
            {{- end }}
            host: {{ $dagster.dagsterWebserver.ingress.host }}
            path: {{ $dagster.dagsterWebserver.ingress.path | default "/*" }}
            pathType: {{ $dagster.dagsterWebserver.ingress.pathType | default "ImplementationSpecific" }}
            {{- if $dagster.dagsterWebserver.ingress.tls.enabled }}
            tls:
              - secretName: {{ $dagster.dagsterWebserver.ingress.tls.secretName | default "dagster-tls" }}
                hosts:
                  - {{ $dagster.dagsterWebserver.ingress.host }}
            {{- end }}
        {{- end }}
        {{- if not $dagster.postgresql.enabled }}
        postgresql:
          enabled: false
          {{- if $dagster.postgresql.postgresqlHost }}
          postgresqlHost: {{ $dagster.postgresql.postgresqlHost | quote }}
          {{- end }}
          {{- if $dagster.postgresql.postgresqlUsername }}
          postgresqlUsername: {{ $dagster.postgresql.postgresqlUsername | quote }}
          {{- end }}
          {{- if $dagster.postgresql.postgresqlDatabase }}
          postgresqlDatabase: {{ $dagster.postgresql.postgresqlDatabase | quote }}
          {{- end }}
          {{- if $dagster.postgresql.postgresqlPort }}
          postgresqlPort: {{ $dagster.postgresql.postgresqlPort }}
          {{- end }}
          {{- if $dagster.postgresql.existingSecret }}
          existingSecret: {{ $dagster.postgresql.existingSecret | quote }}
          {{- end }}
        {{- end }}
        {{- if $dagster.rabbitmq.enabled }}
        rabbitmq:
          enabled: true
          {{- if $dagster.rabbitmq.host }}
          host: {{ $dagster.rabbitmq.host | quote }}
          {{- end }}
          {{- if $dagster.rabbitmq.port }}
          port: {{ $dagster.rabbitmq.port }}
          {{- end }}
        {{- else }}
        rabbitmq:
          enabled: false
        {{- end }}
        {{- if $dagster.redis.enabled }}
        redis:
          enabled: true
          {{- if $dagster.redis.host }}
          host: {{ $dagster.redis.host | quote }}
          {{- end }}
          {{- if $dagster.redis.port }}
          port: {{ $dagster.redis.port }}
          {{- end }}
        {{- else }}
        redis:
          enabled: false
        {{- end }}
        {{- if $dagster.dagsterUserDeployments.enabled }}
        dagster-user-deployments:
          enabled: true
          deployments: {{ toYaml $dagster.dagsterUserDeployments.deployments | indent 10 }}
        {{- end }}
        {{- if $dagster.migrate.enabled }}
        migrate:
          enabled: true
        {{- end }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ $dagster.namespace | default "dagster" }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
{{- end }}
