{{- if .Values.dagster.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{ .Values.argocdNamespace | default "default" }}
  name: dagster
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://dagster-io.github.io/helm
    chart: dagster
    targetRevision: {{ .Values.dagster.version }}
    helm:
      values: |
        ingress:
          enabled: true
          dagsterWebserver:
            host: {{ .Values.dagster.ingress.host }}
        postgresql:
          enabled: {{ .Values.dagster.postgresql.enabled }}
          {{- if not .Values.dagster.postgresql.enabled }}
          postgresqlHost: {{ .Values.dagster.postgresql.host | quote }}
          postgresqlDatabase: {{ .Values.dagster.postgresql.database | quote }}
          existingSecret: {{ .Values.dagster.postgresql.existingSecret | quote }}
          {{- end }}
        dagster-user-deployments:
          enabled: false
          enableSubchart: false
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ .Values.dagster.namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
{{- end }}
