{{- if .Values.dagster.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{ .Values.argocdNamespace | default "default" }}
  name: dagster
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://dagster-io.github.io/helm
    chart: dagster
    targetRevision: {{ .Values.dagster.version }}
    helm:
      values: |
        ingress:
          enabled: true
          dagsterWebserver:
            host: {{ .Values.dagster.ingress.host }}
        postgresql:
          enabled: {{ .Values.dagster.postgresql.enabled }}
          {{- if not .Values.dagster.postgresql.enabled }}
          postgresqlHost: {{ .Values.dagster.postgresql.host | quote }}
          postgresqlUsername: {{ .Values.dagster.postgresql.username | quote }}
          postgresqlDatabase: {{ .Values.dagster.postgresql.database | quote }}
          existingSecret: {{ .Values.dagster.postgresql.existingSecret | quote }}
          {{- end }}
        dagster-user-deployments:
          enabled: {{ .Values.dagster.userCode.enabled }}
          enableSubchart: {{ .Values.dagster.userCode.enabled }}
          {{- if .Values.dagster.userCode.enabled }}
          {{- if .Values.dagster.userCode.imagePullSecrets }}
          imagePullSecrets:
            {{- range .Values.dagster.userCode.imagePullSecrets }}
            - name: {{ . }}
            {{- end }}
          {{- end }}
          deployments:
            - name: "dagster-user-code"
              image:
                repository: {{ .Values.dagster.userCode.image.repository | quote }}
                tag: {{ .Values.dagster.userCode.image.tag | quote }}
                pullPolicy: {{ .Values.dagster.userCode.image.pullPolicy }}
              dagsterApiGrpcArgs:
                {{- if .Values.dagster.userCode.moduleName }}
                - "--module-name"
                - {{ .Values.dagster.userCode.moduleName | quote }}
                {{- else if .Values.dagster.userCode.codeFile }}
                - "--python-file"
                - {{ .Values.dagster.userCode.codeFile | quote }}
                {{- end }}
              port: 3030
          {{- end }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ .Values.dagster.namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
{{- end }}
