{{- if .Values.lgtm.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: lgtm
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://grafana.github.io/helm-charts
    chart: lgtm-distributed
    targetRevision: {{.Values.lgtm.version}}
    {{- if .Values.lgtm.useGitValues }}
    helm:
      valueFiles:
        - {{.Values.lgtm.gitValuesRepo}}/{{.Values.lgtm.gitValuesPath}}
    {{- else if .Values.lgtm.externalValuesFile }}
    helm:
      valueFiles:
        - {{.Values.lgtm.externalValuesFile}}
    {{- else }}
    helm:
      values: |
        grafana:
          enabled: {{.Values.lgtm.grafana.enabled}}
          ingress:
            enabled: {{.Values.lgtm.grafana.ingress.enabled}}
            hosts:
              - {{.Values.lgtm.grafana.ingress.host}}
          admin:
            existingSecret: {{.Values.lgtm.grafana.admin.existingSecret}}
            userKey: {{.Values.lgtm.grafana.admin.userKey}}
            passwordKey: {{.Values.lgtm.grafana.admin.passwordKey}}
        loki:
          enabled: {{.Values.lgtm.loki.enabled}}
          {{- if .Values.lgtm.loki.s3.enabled }}
          structuredConfig:
            schema_config:
              configs:
                - from: "2020-09-07"
                  object_store: s3
            storage_config:
              s3:
                {{- if .Values.lgtm.loki.s3.existingSecret }}
                s3: {{ .Values.lgtm.loki.s3.existingSecret }}
                {{- else }}
                bucketnames: {{ .Values.lgtm.loki.s3.bucketName }}
                {{- end }}
            compactor:
              shared_store: s3
            table_manager:
              retention_deletes_enabled: true
              retention_period: {{ .Values.lgtm.loki.s3.retentionPeriod }}
          {{- end }}
          gateway:
            ingress:
              enabled: {{.Values.lgtm.loki.gateway.ingress.enabled}}
              hosts:
                - host: {{.Values.lgtm.loki.gateway.ingress.host}}
                  paths:
                    - path: /
                      pathType: Prefix
    {{- end }}
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      selfHeal: true
{{- end }}