{{- if .Values.lgtm.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{ .Values.argocdNamespace | default "default" }}
  name: lgtm
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://grafana.github.io/helm-charts
    chart: lgtm-distributed
    targetRevision: {{.Values.lgtm.version}}
    helm:
      values: |
        grafana:
          enabled: {{.Values.lgtm.grafana.enabled}}
          ingress:
            enabled: {{.Values.lgtm.grafana.ingress.enabled}}
            hosts:
              - {{.Values.lgtm.grafana.ingress.host}}
          admin:
            existingSecret: {{.Values.lgtm.grafana.admin.existingSecret}}
            userKey: {{.Values.lgtm.grafana.admin.userKey}}
            passwordKey: {{.Values.lgtm.grafana.admin.passwordKey}}
        loki:
          enabled: {{.Values.lgtm.loki.enabled}}
          {{- if .Values.lgtm.loki.s3.enabled }}
          structuredConfig:
            schema_config:
              configs:
                - from: "2020-09-07"
                  object_store: s3
            storage_config:
              s3:
                s3: {{ .Values.lgtm.loki.s3.existingSecret }}
            compactor:
              shared_store: s3
            table_manager:
              retention_deletes_enabled: true
              retention_period: {{ .Values.lgtm.loki.s3.retentionPeriod }}
          {{- end }}
          gateway:
            ingress:
              enabled: {{.Values.lgtm.loki.gateway.ingress.enabled}}
              hosts:
                - host: {{.Values.lgtm.loki.gateway.ingress.host}}
                  paths:
                    - path: /
                      pathType: Prefix
        mimir:
          enabled: {{.Values.lgtm.mimir.enabled}}
          {{- if .Values.lgtm.mimir.s3.enabled }}
          structuredConfig:
            multitenancy_enabled: false
            limits:
              enforce_metric_name: false
            ingester:
              max_transfer_retries: 0
              zone_aware_replication: false
            compactor:
              compaction_interval: 10m
            ruler:
              enable_alertmanager: false
            storage:
              s3:
                s3: {{ .Values.lgtm.mimir.s3.existingSecret }}
          {{- end }}
        tempo:
          enabled: {{.Values.lgtm.tempo.enabled}}
          {{- if .Values.lgtm.tempo.s3.enabled }}
          structuredConfig:
            multitenancy_enabled: false
            overrides:
              per_tenant_override_config: /runtime-config/overrides.yaml
            storage:
              trace:
                backend: s3
                s3:
                  s3: {{ .Values.lgtm.tempo.s3.existingSecret }}
          {{- end }}

  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      selfHeal: true
{{- end }}
