{{- if .Values.promtail.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{ .Values.argocdNamespace | default "default" }}
  name: promtail
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://grafana.github.io/helm-charts
    chart: promtail
    targetRevision: {{.Values.promtail.version}}
    helm:
      values: |
        config:
          clients:
            {{- range .Values.promtail.config.clients }}
            - url: {{.url}}
            {{- end }}
        resources:
          {{- toYaml .Values.promtail.resources | nindent 10 }}
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      selfHeal: true
{{- end }}
