{{- if .Values.trino.enabled }}
{{- $trino := .Values.trino }}
{{- $iceberg := $trino.catalogs.iceberg | default dict }}
{{- $icebergS3 := $iceberg.s3 | default dict }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{ .Values.argocdNamespace | default "default" }}
  name: trino
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://trinodb.github.io/charts/
    chart: trino
    targetRevision: {{ $trino.version }}
    helm:
      values: |
        server:
          workers: {{ default 4 $trino.server.workers }}
        catalogs:
          {{- if and $iceberg $iceberg.enabled }}
          {{ default "iceberg" $iceberg.catalogName }}: |
            connector.name=iceberg
            iceberg.catalog.type=jdbc
            iceberg.jdbc-catalog.connection-url=jdbc:postgresql://${ENV:POSTGRES_HOST}:${ENV:POSTGRES_PORT}/${ENV:POSTGRES_DATABASE}
            iceberg.jdbc-catalog.default-warehouse-dir={{ $iceberg.warehouse }}
            iceberg.jdbc-catalog.driver-class=org.postgresql.Driver
            iceberg.jdbc-catalog.catalog-name={{ default "iceberg" $iceberg.catalogName }}
            iceberg.jdbc-catalog.connection-user=${ENV:POSTGRES_USER}
            iceberg.jdbc-catalog.connection-password=${ENV:POSTGRES_PASSWORD}
            fs.native-s3.enabled=true
            {{- if $icebergS3.endpoint }}
            s3.endpoint={{ $icebergS3.endpoint }}
            {{- end }}
            {{- if $icebergS3.region }}
            s3.region={{ $icebergS3.region }}
            {{- end }}
            {{- if hasKey $icebergS3 "pathStyleAccess" }}
            s3.path-style-access={{ ternary "true" "false" (default false $icebergS3.pathStyleAccess) }}
            {{- end }}
          {{- end }}
        ingress:
          enabled: true
          {{- if $trino.ingress.className }}
          className: {{ $trino.ingress.className }}
          {{- end }}
          hosts:
          - host: {{ $trino.ingress.host }}
            paths:
            - path: /
              pathType: Prefix
          {{- if and $trino.ingress.tls.enabled $trino.ingress.tls.secretName }}
          tls:
          - secretName: {{ $trino.ingress.tls.secretName }}
            hosts:
            - {{ $trino.ingress.host }}
          {{- else }}
          tls: []
          {{- end }}
        {{- if and $iceberg $iceberg.enabled $iceberg.credentialsSecret }}
        envFrom:
        - secretRef:
            name: {{ $iceberg.credentialsSecret }}
        {{- end }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ $trino.namespace | default "default" }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
{{- end }}
