{{- if .Values.zitadel.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{ .Values.argocdNamespace | default "default" }}
  name: zitadel
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://charts.zitadel.com
    chart: zitadel
    targetRevision: {{.Values.zitadel.version}}
    helm:
      values: |
        zitadel:
          masterkeySecretName: {{.Values.zitadel.masterkeySecretName | default "zitadel-masterkey"}}
          configmapConfig:
            ExternalPort: 443
            ExternalSecure: true
            ExternalDomain: {{.Values.zitadel.externalDomain}}
            TLS:
              Enabled: false
          configSecretName: {{ .Values.zitadel.configSecretName | default "zitadel-secrets" }}
          configSecretKey: config.yaml
        login:
          enabled: false
        initJob:
          command: "zitadel"
        ingress:
          enabled: true
          hosts:
            - host: {{.Values.zitadel.ingress.host}}
              paths:
                - path: /
                  pathType: Prefix
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      selfHeal: true
{{- end }}
