{{- if .Values.zitadel.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{ .Values.argocdNamespace | default "default" }}
  name: zitadel
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://charts.zitadel.com
    chart: zitadel
    targetRevision: {{.Values.zitadel.version}}
    helm:
      values: |
        zitadel:
          masterkeySecretName: {{.Values.zitadel.masterkeySecretName | default "zitadel-masterkey"}}
          configmapConfig:
            ExternalPort: 443
            ExternalSecure: true
            ExternalDomain: {{.Values.zitadel.externalDomain}}
            TLS:
              Enabled: false
            Database:
              Postgres:
                Host: {{ .Values.zitadel.dbHost | default "db-postgresql" }}
                Port: 5432
                Database: zitadel
                MaxOpenConns: 20
                MaxIdleConns: 10
                MaxConnLifetime: 30m
                MaxConnIdleTime: 5m
                User:
                  Username: zitadel
                  SSL:
                    Mode: {{ .Values.zitadel.dbSslMode | default "disable" }}
          secretConfig:
            Database:
              Postgres:
                User:
                  Password: ""
          firstInstance:
            org:
              machine:
                machine:
                  username: iam-admin
                  name: IAM Admin
                machineKey:
                  expirationDate: "2029-01-01T00:00:00Z"
                  type: 1
                pat:
                  expirationDate: "2029-01-01T00:00:00Z"
              loginClient:
                machine:
                  username: login-client
                  name: Login Client
                pat:
                  expirationDate: "2029-01-01T00:00:00Z"
          login:
            enabled: true
            ingress:
              enabled: true
        initJob:
          command: "zitadel"
        ingress:
          enabled: true
          hosts:
            - host: {{.Values.zitadel.ingress.host}}
              paths:
                - path: /
                  pathType: Prefix
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      selfHeal: true
{{- end }}
